body{
	font-family: 'Montserrat', sans-serif;
}
.top-line{
	padding: 10px 15px;
}
.top-line img{
	height: 70px;
}
.top-header{
	background-image: url(../img/DSC_0832.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-position: center center;
	background-size: cover;
	padding: 80px 15px;
	text-align: center;
	background-attachment: fixed;
}
.top-header .text-section h1{
	color: #fff;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 32px;
	text-shadow: 1px 1px #000;
	font-family: 'Roboto', sans-serif;
	line-height: 1.7;
}
.top-header .text-section h1 span{
	background-color: #fff;
	color: #000;
	text-shadow: 1px 1px #fff;
	padding: 10px;
	font-family: 'Kurale', serif;
}
.top-header .text-section p{
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: 'Roboto', sans-serif;
}
.smaller-text-top{
	font-family: 'Kurale', serif !important;
}
.top-header .text-section ul{
	color: #fff;
	width: 50%;
	margin: 10px auto;
}
.top-header .text-section ul li{
	letter-spacing: 1px;
	font-size: 20px;
	font-weight: 600;
	font-family: 'Kurale', serif;
	margin: 5px auto;
}
.top-header .text-section p{
	font-size: 18px;
}
.top-header .text-section p span{
	background-color: #FF132A;
	padding: 2px 10px;
	text-decoration: underline;
	color: #fff;
	font-size: 22px;
	font-family: 'Kurale', serif;
}
.btn-order-info{
	padding: 10px 20px;
	background-color: #FF132A;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #fff;
	margin-bottom: 10px;
	font-weight: 600;
	display: block;
	margin: 0 auto;
}
.zamovutu-zi-discount{
	font-family: 'Kurale', serif;
}
.top-header .outer-block{
	background-color: #fff;
	padding: 10px;
	width: 70%;
	margin: 55px auto 0 auto;
	box-shadow: 2px 2px 5px #000;
}
.minus-znujka{
	font-weight: 600;
	background-color: #FF132A;
	color: #fff;
	outline: none;
	font-family: 'Kurale', serif;
	font-size: 36px;
}

#clockdiv{
	font-family: 'Kurale', serif;
	color: #000;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #fff;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	display: inline-block;
	border: 1px solid #000;
}
.inner-block{
	border: 1px solid #ccc;
	padding: 30px 10px;
}
.smalltext{
	padding-top: 5px;
	font-size: 16px;
	color: #000;
	letter-spacing: 1px;
}

#deadline-messadge{
	display: none;
	font-size: 24px;
	font-style: italic;
}
#deadline-messadge.visible{
	display: block;
}
#clockdiv.hidden{
	display: none;
}
.perevagu-triggeru{
	text-align: center;
	padding: 10px 15px 30px 15px;
}
.perevagu-triggeru .col-md-3{
	margin: 20px auto;
}
.perevagu-triggeru .col-md-3 img{
	height: 70px;
	margin: 15px auto;
}
.perevagu-triggeru p{
	font-size: 16px;
}
.perevagu-triggeru span{
	border-left: 2px solid #000;
	padding: 10px 20px;
}
.perevagu-triggeru h2{
	text-transform: uppercase;
	text-align: justify;
	margin-bottom: 40px;
}
.detali{
	text-align: center;
	padding: 0 15px 30px 15px;
}
.detali span{
	border-left: 2px solid #000;
	padding: 10px 20px;
}
.detali h2{
	text-transform: uppercase;
	text-align: justify;
	margin-bottom: 40px;
}



.swiper-container2{
	display: none;
}

.perekreclutu-price{
	text-decoration-line: line-through;
}
.rozmiru table tr th{
	text-transform: uppercase;
	padding: 5px 10px;
	text-align: center;
}
.katalog-modeley{
	text-align: justify;
	padding: 30px 15px 30px 15px;
}
.katalog-modeley span{
	border-left: 2px solid #000;
	padding: 10px 20px;
}
.katalog-modeley h2{
	text-transform: uppercase;
	margin-bottom: 40px;
}
.galereya{
	text-align: justify;
	padding: 50px 15px 30px 15px;
}
.galereya img{
	margin: 20px auto;
	box-shadow: 5px 5px #ccc;
	transition: all ease-in-out 0.2s;
	position: relative;
}
.galereya img:hover{
	transform: scale(1.2);
	z-index: 9999; 	
}
.galereya span{
	border-left: 2px solid #000;
	padding: 10px 20px;
}
.galereya h2{
	text-transform: uppercase;
	margin-bottom: 40px;
}
.perevagu{
	text-align: justify;
	padding: 50px 15px 50px 15px;
}
.perevagu span{
	border-left: 2px solid #000;
	padding: 10px 20px;
}
.perevagu h2{
	text-transform: uppercase;
	margin-bottom: 50px;
}
.perevagu p{
	font-size: 16px;
}

.dostavka-oplata{
	text-align: justify;
	padding: 50px 15px 50px 15px;
	background-color: #eaedef;
	color: #000;
}
.dostavka-oplata .fa{
	color: #FF132A;
	margin: 5px;
}
.dostavka-oplata span{
	border-left: 2px solid #000;
	padding: 10px 20px;
}
.dostavka-oplata h2{
	text-transform: uppercase;
	margin-bottom: 55px;
}
.dostavka-oplata p{
	text-align: center;
	font-size: 16px;
}
.oplata{
	background-color: #fff;
	color: #000;
	padding: 5px 15px;
	line-height: 1.7;
}
.oplata h3{
	text-align: center;
	font-weight: 600;
}
.oplata p{
	text-align: justify;
	font-size: 16px;
}
.dostavka{
	background-color: #fff;
	color: #000;
	padding: 5px 15px;
	line-height: 1.7;
}
.dostavka h3{
	text-align: center;
	font-weight: 600;
}
.dostavka p{
	text-align: justify;
	font-size: 16px;
}
/*modal window*/
.modal-window-zam-har{
	background-color: #fff;
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;	
	text-align: center;
	display: none;
}
.modal-window-zam-har #form-two{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	z-index: 9999;
	box-shadow: 0 0 5px #000;
	width: 50%;
	padding: 20px;
}
.modal-window-zam-har #form-two .fa{
	position: absolute;
	right: 15px;
	top: 10px;
	z-index: 9999;
	cursor: pointer;
}
.modal-window-zam-har #form-two input{
	display: block;
	margin: 20px auto;
	padding: 15px 30px;
	border: 1px solid #ccc;
	width: 60%;
	letter-spacing: 1px;
	color: #000;
}
.modal-window-zam-har #form-two #color-skatertina{
	display: block;
	margin: 15px auto;
	padding: 5px 10px;
	outline: none;
	width: 60%;
	border: 1px solid #ccc;
}
.modal-window-zam-har #form-two #forma-skatertina{
	display: block;
	margin: 15px auto;
	outline: none;
	padding: 5px 10px;
	width: 60%;
	border: 1px solid #ccc;
}
.modal-window-zam-har #form-two #rozmir-skatertina{
	display: block;
	margin: 15px auto;
	outline: none;
	padding: 5px 10px;
	width: 60%;
	border: 1px solid #ccc;
}
.footer{
	background-image: url(../img/9a.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-position: center center;
	background-size: cover;
	padding: 50px 15px;
	text-align: center;
	color: #fff;
}
.footer #form-three input{
	padding: 15px 25px;
	margin: 5px 10px;
	color: #000;
	outline: none;
	letter-spacing: 1px;
}
.footer .btn-order-bonus{
	border: 1px solid #FF132A;
	display: block;
	margin: 15px auto;
	background-color: #FF132A;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 15px 20px;

}

/*katalog modeley*/
.katalog-modeley .col-md-4{
	margin-bottom: 20px;
}
.katalog-modeley h4{
	text-align: center;
	color: #fff;
	background-color: #FF132A;
}
.katalog-modeley .blakutna{
	background-image: url(../img/changed-size/blakutna-pryamokutna/DSC_0845.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 300px;
	width: 100%;
}
.katalog-modeley .bronzova{
	background-image: url(../img/changed-size/bronzova-pryamokutna/DSC_0887.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 300px;
	width: 100%;
}
.katalog-modeley .kavova{
	background-image: url(../img/changed-size/kavova-pryamokutna/DSC_0813.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 300px;
	width: 100%;
}
.katalog-modeley .kremova{
	background-image: url(../img/changed-size/kremova-pryamokutna/DSC_0728.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 300px;
	width: 100%;
}
.katalog-modeley .rojeva-oval{
	background-image: url(../img/changed-size/rojeva-oval/DSC_0829.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 300px;
	width: 100%;
}
.katalog-modeley .rojave-pryamokutna{
	background-image: url(../img/changed-size/rojeva-pryamokutna/DSC_0513.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 300px;
	width: 100%;
}
.katalog-modeley .min-harakteristics{
	border: 1px solid #ccc;
	color: #000;
}
.katalog-modeley .min-harakteristics h4{
	padding: 10px 5px;
	color: #fff;
	background-color: #FF132A;
	margin-top: 0;
}
.katalog-modeley .title-modal{
	padding: 20px 10px;
	border: 1px solid #ccc;
	margin: 0 8px 8px 8px;
}
.katalog-modeley .title-modal .fa{
	padding-right: 5px;
	color: #d6c13b;
}
.katalog-modeley .title-modal ul{
	list-style-type: none;
}
.rozmiru{
	display: none;
	cursor: pointer;
}
.katalog-modeley .title-modal .show-rozmiru{
	margin-left: 5px;
	color: #fff;
	background-color: #FF132A;
	padding: 5px 10px;
}
.katalog-modeley .title-modal .open-modal-blakutnuy{
	display: block;
	margin: 0 auto;
	color: #fff;
	background-color: #d6c13b;
	padding: 5px 10px;
	border: 1px solid #d6c13b;
	font-size: 18px;
	margin-top: 20px;
}
.katalog-modeley .title-modal .open-modal-bronzova{
	display: block;
	margin: 0 auto;
	color: #fff;
	background-color: #d6c13b;
	padding: 5px 10px;
	border: 1px solid #d6c13b;
	font-size: 18px;
	margin-top: 20px;
}
.katalog-modeley .title-modal .open-modal-kavova{
	display: block;
	margin: 0 auto;
	color: #fff;
	background-color: #d6c13b;
	padding: 5px 10px;
	border: 1px solid #d6c13b;
	font-size: 18px;
	margin-top: 20px;
}
.katalog-modeley .title-modal .open-modal-kremova{
	display: block;
	margin: 0 auto;
	color: #fff;
	background-color: #d6c13b;
	padding: 5px 10px;
	border: 1px solid #d6c13b;
	font-size: 18px;
	margin-top: 20px;
}
.katalog-modeley .title-modal .open-modal-rojeva-oval{
	display: block;
	margin: 0 auto;
	color: #fff;
	background-color: #d6c13b;
	padding: 5px 10px;
	border: 1px solid #d6c13b;
	font-size: 18px;
	margin-top: 20px;
}
.katalog-modeley .title-modal .open-modal-rojave-pryamokutna{
	display: block;
	margin: 0 auto;
	color: #fff;
	background-color: #d6c13b;
	padding: 5px 10px;
	border: 1px solid #d6c13b;
	font-size: 18px;
	margin-top: 20px;
}