body{
	font-family: 'Montserrat', sans-serif;
}
.top-header{
	background-image: url(../img/93827BDF-C376-4B49-908A-9A4161A0EDC3.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-position: center center;
	background-size: cover;
	padding: 100px 15px;
	text-align: center;
}
.top-header .text-section h1{
	color: #fff;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 32px;
	text-shadow: 1px 1px #000;
}
.top-header .text-section h1 span{
	background-color: #fff;
	color: #000;
	text-shadow: 1px 1px #fff;
	padding: 10px;
}
.top-header .text-section p{
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
}
.top-header form{
	background-color: #fff;
	padding: 30px 15px;
	width: 60%;
	margin: 0 auto;
	box-shadow: 2px 2px 5px #000;
}
.top-header form input{
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
}
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #fff;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	display: inline-block;
		border: 1px solid #fff;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
}

#deadline-messadge{
	display: none;
	font-size: 24px;
	font-style: italic;
}
#deadline-messadge.visible{
	display: block;
}
#clockdiv.hidden{
	display: none;
}