body{
	font-family: 'Montserrat', sans-serif;
}
.top-line{
	padding: 10px 15px;
}
.top-line img{
	height: 70px;
}
.top-header{
	background-image: url(../img/93827BDF-C376-4B49-908A-9A4161A0EDC3.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-position: center center;
	background-size: cover;
	padding: 80px 15px;
	text-align: center;
	background-attachment: fixed;
}
.top-header .text-section h1{
	color: #fff;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 32px;
	text-shadow: 1px 1px #000;
	font-family: 'Roboto', sans-serif;
}
.top-header .text-section h1 span{
	background-color: #fff;
	color: #000;
	text-shadow: 1px 1px #fff;
	padding: 10px;
	font-family: 'Kurale', serif;
}
.top-header .text-section p{
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: 'Roboto', sans-serif;
}
.smaller-text-top{
	font-family: 'Kurale', serif !important;
}
.top-header .text-section ul{
	color: #fff;
	width: 50%;
	margin: 10px auto;
}
.top-header .text-section ul li{
	letter-spacing: 1px;
	font-size: 20px;
	font-weight: 600;
	font-family: 'Kurale', serif;
	margin: 5px auto;
}
.top-header .text-section p{
	font-size: 18px;
}
.top-header .text-section p span{
	background-color: #FF132A;
	padding: 5px 10px;
	text-decoration: underline;
	color: #fff;
	font-size: 22px;
	font-family: 'Kurale', serif;
}
.btn-order-info{
	padding: 10px 20px;
	background-color: #FF132A;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #fff;
	margin-bottom: 10px;
	font-weight: 600;
}
.zamovutu-zi-discount{
	font-family: 'Kurale', serif;
}
.top-header form{
	background-color: #fff;
	padding: 10px;
	width: 70%;
	margin: 0 auto;
	box-shadow: 2px 2px 5px #000;
}
.minus-znujka{
	font-weight: 600;
	background-color: #FF132A;
	color: #fff;
	padding: 5px;
	font-family: 'Kurale', serif;
}
.top-header form input{
	display: block;
	width: 80%;
	margin: 20px auto;
	padding: 12px 20px;
	letter-spacing: 1px;
}
#clockdiv{
	font-family: 'Kurale', serif;
	color: #000;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #fff;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	display: inline-block;
	border: 1px solid #000;
}
.inner-block{
	border: 1px solid #ccc;

}
.smalltext{
	padding-top: 5px;
	font-size: 16px;
	color: #000;
	letter-spacing: 1px;
}

#deadline-messadge{
	display: none;
	font-size: 24px;
	font-style: italic;
}
#deadline-messadge.visible{
	display: block;
}
#clockdiv.hidden{
	display: none;
}
.perevagu-triggeru{
	text-align: center;
	padding: 50px 15px 30px 15px;
}
.perevagu-triggeru .col-md-3{
	margin: 20px auto;
}
.perevagu-triggeru .col-md-3 img{
	height: 70px;
	margin: 15px auto;
}
.perevagu-triggeru p{
	font-size: 16px;
}
.perevagu-triggeru span{
	border-left: 2px solid #000;
	padding: 10px 20px;
}
.perevagu-triggeru h2{
	text-transform: uppercase;
	text-align: justify;
}
.harakteristiku{
	text-align: center;
	padding: 50px 15px 30px 15px;
}
.harakteristiku span{
	border-left: 2px solid #000;
	padding: 10px 20px;
}
.harakteristiku h2{
	text-transform: uppercase;
	text-align: justify;
}
.harakteristiku ul{
	text-align: left;
	font-size: 16px;
}
.harakteristiku ul li{
	margin: 5px auto;
}
.harakteristiku p{
	font-size: 16px;
}
.harakteristiku h3{
	text-transform: uppercase;	
}
.kremovui{
	border-right: 40px solid #F5E5D5;
}
.jovtui{
	border-right: 40px solid #FEFF73;
}
.rojevui{
	border-right: 40px solid #FEC8C8;
}
.order-za-harakterisikou{
	background-color: #FF132A;
	color: #fff;
	text-transform: uppercase;
	padding: 15px 25px;
	transition: all ease-in-out 0.2s;
	border:1px solid #FF132A;
	outline: none;
	display: block;
	margin: 40px auto;
}
.order-za-harakterisikou:hover{
	text-decoration: none;
	color: #fff;
	box-shadow: 0 0 5px #000;
}
.rozmiru{
	text-align: justify;
	padding: 50px 15px 20px 15px;
}
.swiper-container2{
	display: none;
}
.rozmiru span{
	border-left: 2px solid #000;
	padding: 10px 20px;
}
.rozmiru h2{
	text-transform: uppercase;
}
.rozmiru h3 span{
	background-color: #FF132A;
	border-left: 1px solid #FF132A;
	color: #fff;
}
.rozmiru table{
	text-align: center;
	margin: 0 auto;
	font-size: 16px;
}
.price-zi-znujkou{
	background-color: #FF132A;
	color: #fff;
	font-weight: 600;
}
.perekreclutu-price{
	text-decoration-line: line-through;
}
.rozmiru table tr th{
	text-transform: uppercase;
	padding: 5px 10px;
	text-align: center;
}
.galereya{
	text-align: justify;
	padding: 0 15px 30px 15px;
}
.galereya img{
	margin: 20px auto;
	box-shadow: 5px 5px #ccc;
	transition: all ease-in-out 0.2s;
}
.galereya img:hover{
	transform: rotate(10deg);
}
.galereya span{
	border-left: 2px solid #000;
	padding: 10px 20px;
}
.galereya h2{
	text-transform: uppercase;
	margin-bottom: 20px;
}
.perevagu{
	text-align: justify;
	padding: 0 15px 50px 15px;
}
.perevagu span{
	border-left: 2px solid #000;
	padding: 10px 20px;
}
.perevagu h2{
	text-transform: uppercase;
	margin-bottom: 20px;
}
.perevagu p{
	font-size: 16px;
}
.dostavka-oplata{
	text-align: justify;
	padding: 0 15px 50px 15px;
	background-color: #4c5666;
	color: #fff;
	transform:;
}
.dostavka-oplata span{
	border-left: 2px solid #fff;
	padding: 10px 20px;
}
.dostavka-oplata h2{
	text-transform: uppercase;
	margin-bottom: 20px;
}
.dostavka-oplata p{
	text-align: center;
	font-size: 16px;
}
/*modal window*/
.modal-window-zam-har{
	background-color: #fff;
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;	
	text-align: center;
	display: none;
}
.modal-window-zam-har #form-two{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	z-index: 9999;
	box-shadow: 0 0 5px #000;
	width: 50%;
	padding: 20px;
}
.modal-window-zam-har #form-two .fa{
	position: absolute;
	right: 15px;
	top: 10px;
	z-index: 9999;
	cursor: pointer;
}
.modal-window-zam-har #form-two input{
	display: block;
	margin: 20px auto;
	padding: 15px 30px;
	border: 1px solid #ccc;
	width: 60%;
	letter-spacing: 1px;
	color: #000;
}
.modal-window-zam-har #form-two #color-skatertina{
	display: block;
	margin: 15px auto;
	padding: 5px 10px;
	outline: none;
	width: 60%;
	border: 1px solid #ccc;
}
.modal-window-zam-har #form-two #forma-skatertina{
	display: block;
	margin: 15px auto;
	outline: none;
	padding: 5px 10px;
	width: 60%;
	border: 1px solid #ccc;
}
.modal-window-zam-har #form-two #rozmir-skatertina{
	display: block;
	margin: 15px auto;
	outline: none;
	padding: 5px 10px;
	width: 60%;
	border: 1px solid #ccc;
}
.footer{
	background-image: url(../img/9a.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-position: center center;
	background-size: cover;
	padding: 50px 15px;
	text-align: center;
	color: #fff;
}
.footer #form-three input{
	padding: 15px 25px;
	margin: 5px 10px;
	color: #000;
	outline: none;
	letter-spacing: 1px;
}
.footer .btn-order-bonus{
	border: 1px solid #FF132A;
	display: block;
	margin: 15px auto;
	background-color: #FF132A;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 15px 20px;

}